/* body {
      
    }

    body {
        background-color: rgba(2, 4, 23, 0.998);
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #efecec;
     background-size: initial;
    }

    swiper-container {
      width: 100%;
      background-size: cover;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px; 
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    swiper-container pagination{
      color: black;
      padding-bottom: 100px;
    } */
